body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.header{
    padding: 0.5em;
    margin-top: 1em;
    background-color: rgba(4, 88, 4, 0.767);
    color: whitesmoke;
   border-radius: 2px;
    padding-right: 4em;
    height: 3em;
}
ul.menulist{
    float: right;
    padding-right: 2em;
    text-align: center;
    list-style-type: none; 
}
ul.menulist li{
     padding: 0.3em; 
     
    display: inline; 
    

}
ul.menulist select{
    width: 8em;
    border-radius: 4px;
}
 .menbar{
    max-width: 100%;
    height: auto;
    
}
ul.menulist li a{
    text-decoration: none;
    color: inherit;
}
ul.menulist li a:hover{
    color: black;
}
/* MEnu bar start */

ul.mainmenu{
    list-style-type: none;
    margin: 0;
}
ul.mainmenu li{
    padding: 0.2em;
    display: inline;
   
}
ul.mainmenu li a{
    text-decoration: none;
    color: grey;
}
ul.mainmenu li a:hover{
    color: black;
}
.searchbar{
    list-style: none;
    float: right;
    margin-top: 1.2em;
    margin-right: 5em;
}
.searchbar input[type="button"]{
    margin-left:.5em;
    height: inherit;
}

.searchbox{
    border-radius: 0.3em;
}


  /*End of navigation bar with media query*/

  /*start of banner image*/
  .banner{
      height: 20em;
      margin-top: 0em;
      margin-bottom: 1em;
  }

  .banner-image {
    background-image:url("banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
  }
  .banner-text, .first-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  
  }

  .banner-text button {
    border: none;
    outline: 0; 
    display: inline-block;
    padding: 10px 25px;
    color: white;
    margin: 1em;
    text-align: center;
    cursor: pointer;
  }
  .banner-text button:hover{
      background-color: rgba(8, 90, 8, 0.788);
      color: whitesmoke;
  }
  .banner-text h1 , .first-text h2{ font-weight:normal; }

  /* End of banner css */
   
  /* company product and contact us row*/
  
.first{
    padding-left:4em;
    padding-right:4em;   
   
}
.company, .contacts, .products{
    background-repeat: no-repeat;
    background-size:100%;
    max-width: 100%;
    min-width: 15em;
    height: 12em;
    padding:0.1em;
    border-radius: 5px;
}
.company{
    background-image: url("company.jpg");
    margin: 1em;
}
.contacts{
    background-image: url("products.jpg");
    margin: 1em;
}
.products{
    background-image: url("contact.jpg");
    margin: 1em;
}
.first-text h2{
    color: #fff;
    text-shadow: 2px 2px #303030;
    position: relative;
    top: 50%;
    left: 0%;
}

/* end of first row */

.numbers{
    padding-left:15em;
    padding-right:15em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;  
  
    height: auto;
    display: block;
    
}
.numbers h1{
    text-decoration: none;
    font-weight:normal;
    
}
.logoicon{
    color: green;
}
.logotext{
    padding-left: 2.5em;
   
}
/* latest news rss feed start */
.latestnews{
    
    background-color: rgb(231, 231, 243);
    padding-left:5em;
    padding-right:5em; 
    padding-bottom: 2em;
    height: auto;
    margin-bottom:2em;
}
.latestnews h4{
    text-align: center;
    display:block;
   padding-top: 1em;
    color: rgb(0, 0, 0);
  
}

.newsbox{
    background-color: white;
    margin: 1em;
    padding:0.2em;
    height: auto;
}
p.date{
    color: grey;
    font-size: 0.7em;
    padding-top: 1em;
}


/*refernces*/
.references{   
    padding-left:4em;
    padding-right:4em; 
    padding-bottom: 2em;
    height: auto;
    margin-bottom:1em;
}
.references h3{
    text-align: center;
    padding-bottom: 1em;
}
.references h5{
    text-align: center;
   
   padding-top: 1em;
    color: rgb(0, 0, 0);
 
    padding-bottom: 0.2em;
}
.imagebox{
    height: 10em;
    max-width: 100%;
   
    background-size: 90%;
    border:1px solid rgb(228, 217, 217);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
.bosch{
    background-image: url("bosch.png");
}
.lapland{
    background-image: url("lapland.jpg");
}
.bodyshop{
    background-image: url("bodyshop.jpg");
}
.ikea{
    background-image: url("ikea.png");
}
p.ads{
    font-weight: normal;
   color: rgb(66, 62, 62);
}

.advert{
    min-width: 12em;
}
.textbox{
    min-height: 12em;
  
    height: auto;
    border:1px solid rgb(228, 217, 217);
    border-radius: 5px;
    padding: 0.2em .2em .2em .2em;  
    text-align: center;
    font-size: 1em;

}

/* -------- subscription -----------*/
.subscribe{
    margin-bottom: 1em;
    text-align: center;
}
.subscribe h3{   
    padding-bottom: 0.5em;
}

.subscribe input[type="text"]{
    width: 24em;
    border-radius: 2px;
    height: 2.5em;

}
.subscribe input[type="button"]{
    height: 2.5em;
    margin-left: 0.5em;
    
}

/*footer---------------------------*/
.footer{
   
    background-color: black;
    color: white;
    padding: 2em 5em 2em 5em;
    margin: 1em 0 2em 0;
}
.footer h6{
    font-size: 1.1em;
    margin-bottom: 2em;
}
.sales .salesandrequirements, .email, .phone{
    display: block;
    font-size: 1em;
}
.sales input[type="button"]{
   margin-top: 1em;
}
.salesandrequirements{
    font-weight: bold;
}
.ul.footerlist{
    float: left;
}
.footermenu ul.footerlist li{
   
    display:inline;
    padding-left:1em;
    text-decoration: none;
}
ul.footerlist li a{
    color: white;
    text-decoration: none;
}
ul.social{
    margin-top: 2em; 
    float: right;   

}
ul.social li{
    display: inline;
    padding-right: 1em;
   color: green;
    text-decoration: none;
    cursor: pointer;
}

/*-------media query --------------*/

@media (max-width: 768px) {
    ul.mainmenu li:not(:nth-child(1)):not(:last-child) {
       border: 0.1px solid whitesmoke;
      }    
    
    ul.mainmenu li {
        float: none;        
        text-align: left;
        display: block;
        width: 100%;
        margin: 0;
    }
    ul.mainmenu li.searchbar{
        margin-top: 1em;
    }
    .numbers{
        float: center;
        padding-left: 0 !important;
        padding-right:0!important;
        text-align: center;
      
    }
    .subscribe input[type="button"]{
        margin-top: 0.5em;
    }
    .footermenu ul.footerlist li a{
        display: none;
      
       
    }

    
  }